language: bash
service: docker

env:
  - VERSION=3.3
  - VERSION=3.3.4
  - VERSION=3.4.3
  - VERSION=3.5


script:
  - docker build -t $DOCKER_USERNAME/studip:$VERSION $VERSION

after_script
  - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
  - docker push $DOCKER_USERNAME/studip:$VERSION
