dist: trusty

language: bash
service: docker

env:%%ENVS%%

script:
  - docker build -t $DOCKER_USERNAME/studip:$TAG $VERSION

after_script:
  - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
  - docker push $DOCKER_USERNAME/studip:$TAG
